body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #495057 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, :hover, :active, :visited, :focus {
  color: unset;
  appearance: none;
  text-decoration: none;
}
